@model SortedSearchResponse<FilmModel, FilmFilterQuery>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Films";
}

<h2>Films</h2>

<form>
    <p>
        Find by title:
        <input type="search" value="@Model.Filter.Title" id="titleSearch"/>
        <input type="button" value="Search" onclick="onSubmit(this)"/>
    </p>
    <p>
        Find by awards:
        <input type="search" value="@Model.AwardFilter.Title" id="awardSearch" />
    </p>
</form>
<hr />

<h4>Sorting: </h4>
<select id="sortValueSelect">
    <option value="title" selected="@(Model.SortQuery.Value == "title")">Title</option>
    <option value="date" selected="@(Model.SortQuery.Value == "date")">Release Date</option>
</select>

<select id="sortOrderSelect">
    <option value="asc" selected="@(Model.SortQuery.Order == "asc")">Ascending</option>
    <option value="desc" selected="@(Model.SortQuery.Order == "desc")">Descending</option>
</select>
<hr />

<style>
    @@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
    @@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
    body {
		padding: 60px 0px;
		background-color: rgb(220, 220, 220);
	}
    
    .event-list {
		list-style: none;
		font-family: 'Lato', sans-serif;
		margin: 0px;
		padding: 0px;
	}
	.event-list > li {
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 5px rgb(51, 51, 51);
		box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
		padding: 0px;
		margin: 0px 0px 20px;
	}
	.event-list > li > time {
		display: inline-block;
		width: 100%;
		color: rgb(255, 255, 255);
		background-color: rgb(197, 44, 102);
		padding: 5px;
		text-align: center;
		text-transform: uppercase;
	}
	.event-list > li:nth-child(even) > time {
		background-color: rgb(165, 82, 167);
	}
	.event-list > li > time > span {
		display: none;
	}
	.event-list > li > time > .day {
		display: block;
		font-size: 56pt;
		font-weight: 100;
		line-height: 1;
	}
	.event-list > li time > .month {
		display: block;
		font-size: 24pt;
		font-weight: 900;
		line-height: 1;
	}
	.event-list > li > img {
		width: 100%;
	}
	.event-list > li > .info {
		padding-top: 5px;
		text-align: center;
	}
	.event-list > li > .info > .title {
		font-size: 17pt;
		font-weight: 700;
		margin: 0px;
	}
	.event-list > li > .info > .desc {
		font-size: 13pt;
		font-weight: 300;
		margin: 0px;
	}
	.event-list > li > .info > ul,
	.event-list > li > .social > ul {
		display: table;
		list-style: none;
		margin: 10px 0px 0px;
		padding: 0px;
		width: 100%;
		text-align: center;
	}
	.event-list > li > .social > ul {
		margin: 0px;
	}
	.event-list > li > .info > ul > li,
	.event-list > li > .social > ul > li {
		display: table-cell;
		cursor: pointer;
		color: rgb(30, 30, 30);
		font-size: 11pt;
		font-weight: 300;
        padding: 3px 0px;
	}
    .event-list > li > .info > ul > li > a {
		display: block;
		width: 100%;
		color: rgb(30, 30, 30);
		text-decoration: none;
	} 
    .event-list > li > .social > ul > li {    
        padding: 0px;
    }
    .event-list > li > .social > ul > li > a {
        padding: 3px 0px;
	} 
	.event-list > li > .info > ul > li:hover,
	.event-list > li > .social > ul > li:hover {
		color: rgb(30, 30, 30);
		background-color: rgb(200, 200, 200);
	}
	.facebook a,
	.twitter a,
	.google-plus a {
		display: block;
		width: 100%;
		color: rgb(75, 110, 168) !important;
	}
	.twitter a {
		color: rgb(79, 213, 248) !important;
	}
	.google-plus a {
		color: rgb(221, 75, 57) !important;
	}
	.facebook:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(75, 110, 168) !important;
	}
	.twitter:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(79, 213, 248) !important;
	}
	.google-plus:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(221, 75, 57) !important;
	}

	@@media (min-width: 768px) {
		.event-list > li {
			position: relative;
			display: block;
			width: 100%;
			height: 120px;
			padding: 0px;
		}
		.event-list > li > time,
		.event-list > li > img  {
			display: inline-block;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 120px;
			float: left;
		}
		.event-list > li > .info {
			background-color: rgb(245, 245, 245);
			overflow: hidden;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 120px;
			height: 120px;
			padding: 0px;
			margin: 0px;
		}
		.event-list > li > .info {
			position: relative;
			height: 120px;
			text-align: left;
			padding-right: 40px;
		}	
		.event-list > li > .info > .title, 
		.event-list > li > .info > .desc {
			padding: 0px 10px;
		}
		.event-list > li > .info > ul {
			position: absolute;
			left: 0px;
			bottom: 0px;
		}
		.event-list > li > .social {
			position: absolute;
			top: 0px;
			right: 0px;
			display: block;
			width: 40px;
		}
        .event-list > li > .social > ul {
            border-left: 1px solid rgb(230, 230, 230);
        }
		.event-list > li > .social > ul > li {			
			display: block;
            padding: 0px;
		}
		.event-list > li > .social > ul > li > a {
			display: block;
			width: 40px;
			padding: 10px 0px 9px;
		}
	}
</style>

@foreach (var film in Model.Data)
{
	<div class="row">
		<div class="[ col-xs-12 col-sm-offset-0 col-sm-8 ]" style="float: left">
			<ul class="event-list">
				<li>
					<img alt="@(film.Title)}" src="@(film.Photo == null ?
						                                 "https://www.mearto.com/assets/no-image-83a2b680abc7af87cfff7777d0756fadb9f9aecd5ebda5d34f8139668e0fc842.png":
						                                 "/api/file/" + @film.Photo.Id)"/><div class="info">
						<h2 class="title"><a href="@(Url.Action("FilmView", "Film", new {id = film.Id}))">@(film.Title)</a></h2>
						<p class="desc">@(film.ShortDescription)</p>
                            @if (film.Awards != null)
                            {
                                @foreach(var award in film.Awards)
                                {
                                    <p>@award.Name</p>
                                }
                            }
					</div>
				</li>
			</ul>
		</div>
	</div>
}

@section Scripts
{
    <script>
        var url = "@Url.Action("ShowFilmViews", "Film")";
        
        function buildLink(sortOrder, sortValue, title, award) {
            return url + "?sortOrder=" + sortOrder + "&sortValue=" + sortValue + "&name=" + encodeURI(title) + "&award=" + award;
        }

        function onSubmit(btn) {
            var sortOrderSelect = document.getElementById("sortOrderSelect");
            var sortOrder = sortOrderSelect[sortOrderSelect.selectedIndex].value;
            
            var sortValueSelect = document.getElementById("sortValueSelect");
            var sortValue = sortValueSelect[sortValueSelect.selectedIndex].value;

            var title = document.getElementById("titleSearch").value;
            var award = document.getElementById("awardSearch").value;

            window.location.href = buildLink(sortOrder, sortValue, title, award);
        }
    </script>
}
