@model IEnumerable<FilmSearch.Models.AppUser>

@{
    ViewData["Title"] = "Ban";
}

<h2>Manage banned users</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (item.EmailConfirmed)
                    {
                        <button type="button" class="btn btn-error" onclick="location.href='/Account/DisableUser?userId=@(item.Id)'">Disable</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-success" onclick="location.href='/Account/EnableUser?userId=@(item.Id)'">Enable</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
